COINGECKO_API_KEY=
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:3000"
DATABASE_URL="postgres://user:password@host:port/database?connection_limit=10"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
